/**/
.page_container {
    padding: 15px;
}

/*  TABLE */
.form-table {
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
}

.form-table th {
    background-color: #D1D1D1;
    font-weight: bold;
    text-align: left;
}

.form-table td, .form-table th, .info-table td, .info-table th {
    /*font-size: 12px;*/
    vertical-align: middle;
    white-space: nowrap;

    padding: 6px 5px;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #BBBBBB;
    color: #333333;
}

.form-table option {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-table input[type=text] {
    padding: 5px;
    border: 1px #cdcdcd solid;
}

.saleconfirm-list {
    margin-top: 20px;
    font-size: 12px;
}

.saleconfirm-list td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.saleconfirm-list th {
    height: 40px !important;
}

.sorting.ui-state-default {
    cursor: pointer;
}

.saleconfirm-list td:nth-child(2) {
    max-width: 200px;
    overflow: hidden;
}

.saleconfirm-list td:nth-child(4) {
    max-width: 100px;
    overflow: hidden;
}

.saleconfirm-list td:nth-child(5) {
    max-width: 80px;
    overflow: hidden;
}

.saleconfirm-list td:nth-child(14) {
    text-align: center;
}

.number-column {
    text-align: right !important;
}

.text-column {
    text-align: left !important;
}

.center-column {
    text-align: center !important;
}

.saleconfirm-list td.auto {
    background-color: #90EE90;
    text-align: center;
}

.saleconfirm-list td.manual {
    background-color: #D8BFD8;
    text-align: center;
}

.btn-auto.active {
    background-color: #D8BFD8;
    border-color: #ccc;
}

.btn-manual.active {
    background-color: #90EE90;
    border-color: #ccc;
}

table.header-info {
    margin-bottom: 30px;
}

table.header-info td {
    vertical-align: top;
}

table.header-info table {
    margin-right: 20px;
}

.editable {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid transparent;
    min-height: 21px;
    padding: 1px;
    margin: 0px;
}

span.editable:HOVER {
    border: 1px solid #74b2e2;
}

input.editable {
    border: 1px solid #74b2e2;
    padding: 1px;
    margin: 0px;
    min-height: 21px;
}

.text-column > input.editable {
    min-width: 100px;
}

.number-column > input.editable {
    min-width: 30px;
}

table.sale-detail {
}

#sale_detail_outer {
    border: 2px #BBBBBB solid;
}

table#sale_detail tr:nth-child(even), table.sale-detail tr:nth-child(even) {
    background: #DEEBF6
}

table#sale_detail tr:nth-child(odd), table.sale-detail tr:nth-child(odd) {
    background: #FFFFFF
}

table#transferconfirm_list tr:nth-child(even), table.transferconfirm_list tr:nth-child(even) {
    background: #FAFAFA
}

table#transferconfirm_list tr:nth-child(odd), table.transferconfirm_list tr:nth-child(odd) {
    background: #FFFFFF
}

table.sale-detail th, table.sale-detail td {
    border-style: solid;
    border-color: #BBBBBB;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
    white-space: nowrap;
    font-weight: normal;
    padding: 0px 2px !important;
}

table.sale-detail th {
    background: #d7ebf9 url("/static/jquery-ui/images/ui-bg_glass_80_d7ebf9_1x400.png") 50% 50% repeat-x;
    text-align: center;
}

table.sale-detail td {
    text-align: right;
    border-width: 1.33px 1.33px 1.33px 0px;
}

table.dataTable {
    margin-left: 0px;
}

/*.btn-download-excel {*/
/*background-color: #8FAADC;*/
/*width: 65px;*/
/*color: #F4F4F4 !important;*/
/*}*/

/*.btn-download-data {*/
/*margin-left: 10px;*/
/*background-color: #8FAADC;*/
/*width: 65px;*/
/*color: #F4F4F4 !important;*/
/*}*/

/*.btn-download-mail {*/
/*margin-left: 10px;*/
/*background-color: #4472C4;*/
/*width: 65px;*/
/*color: #F4F4F4 !important;*/
/*}*/

/*.btn-download-web {*/
/*margin-left: 10px;*/
/*background-color: #BDD7EE;*/
/*width: 65px;*/
/*color: #F4F4F4 !important;*/
/*}*/

/*.btn-download-tel {*/
/*margin-left: 10px;*/
/*background-color: #2E75B6;*/
/*width: 65px;*/
/*color: #F4F4F4 !important;*/
/*}*/

/*.btn-download-fax {*/
/*margin-left: 10px;*/
/*background-color: #1F4E79;*/
/*width: 65px;*/
/*color: #F4F4F4 !important;*/
/*}*/

/*.btn-back-save {*/
/*margin-left: 40px;*/
/*background-color: #F4B183;*/

/*}*/

/*.btn-back-no-save {*/
/*color: #000000;*/
/*background-color: #ED7D31;*/
/*}*/

/*.btn-back {*/
/*color: #000000;*/
/*background-color: #ED7D31;*/
/*}*/

/*a.btn {*/
/*line-height: 26px;*/
/*}*/

/*.btn-refresh-sort {*/
/*background-color: #C5E0B4;*/
/*}*/

/*.btn-sort {*/
/*background-color: #FFD966;*/
/*height: 46px;*/
/*width: 37px;*/
/*text-align: center;*/
/*padding: 2px;*/
/*}*/

/*.btn-confirm {*/
/*color: #000000;*/
/*background-color: #C5E0B4;*/
/*}*/

/*.btn-search {*/
/*background-color: #98C8F1;*/
/*}*/

/*.btn-download-csv {*/
/*background-color: #A9D0F5;*/
/*}*/

/*.btn-register-memo {*/
/*background-color: #F4F4F4;*/
/*border-radius: 0px;*/
/*border: 1px #96C5EF solid;*/
/*height: 25px;*/
/*width: 35px;*/
/*}*/

#saleconfirm_list_tmp th {
    text-align: center;
}

input.order-plan {
    text-align: right;
    width: 100%;
    background-color: #fcf8e3;
    padding: 0px 2px;
    border: 1px #777 solid;
    margin: 0px;
    ime-mode: disabled;
}

.filter-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.filter-goods-name {
    text-overflow: ellipsis;
    overflow: hidden;
    /*max-width: 230px;*/
}

.filter-publisher-name {
    text-overflow: ellipsis;
    overflow: hidden;
    /*max-width: 85px;*/
}

.filter-artist-name {
    text-overflow: ellipsis;
    overflow: hidden;
    /*max-width: 100px;*/
}

.orangeRed {
    color: #ff4500;
}

.text-center {
    text-align: center;
}

.select2-drop, .select2-drop-mask {
    z-index: 99999 !important;
}

.no-search .select2-search {
    display: none
}

.demeter-date {
    line-height: 28px;
    display: inline-flex;
    vertical-align: bottom;
    border: 1px transparent solid;
}
