<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ページが見つかりません</title>
    <style>
        a {
            margin: 10px;
            font-size: 18px;
            text-decoration: none;
            color: #28a4c9;
        }
        a:hover {
            font-weight: bolder;
        }
    </style>
</head>
<body>
<div style="display: block;text-align: center;margin-top: 100px;">
    <img src="/static/img/logo/logo_wp_cloud_01.png" class="logo" style="width: 350px;"/>
    <h2 style="color: #607D8B;text-align: center;">ページが見つかりません</h2>
    <a href="/">トップページ</a>
    <a href="#" onclick="window.history.back();return false;">戻る</a>
</div>

</body>
</html>